/build/
.idea/
__pycache__/

game/saved_scene/scene1M/

scripts/model_loader/venv/
scripts/texture_packer/venv/
scripts/scene_gen/venv/

scripts/model_loader/raw/*
!scripts/model_loader/raw/.gitkeep

scripts/texture_packer/raw/*
!scripts/texture_packer/raw/.gitkeep
